body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(107, 157, 171) 23.8%,
    rgb(92, 122, 158) 66%
  );
}
.container {
  background: url("../image/weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-top: 30px;
  max-width: 800px;
  border-radius: 8px;
  padding: 20px 20px;
}
.footer {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}
.city {
  color: rgb(46, 45, 45);
  font-size: 26px;
  font-weight: bold;
  padding-left: 5px;
}

.day {
  font-size: 16px;
  margin: 20px 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.158);
}
.temp {
  font-size: 28px;
  margin: 10px;
}
#icon {
  width: 70px;
  height: auto;
  margin: 6px auto;
}
.temp_search {
  font-size: 34px;
  vertical-align: middle;
}
.units {
  font-size: 14px;
  position: relative;
  top: -6px;
}

.column-4 .col-md-2,
.column-4 .col-md-3,
.column-4 .col-md-4,
.column-4 .col-md-5 {
  width: 20%;
  color: rgba(255, 255, 255, 0.678);
  text-align: center;
}
.column-4 {
  background-color: black;
  opacity: 0.6;
  margin: 0 auto;
  border-radius: 8px;
}
.row {
  --bs-gutter-x: 0rem;
}

#searchCity {
  font-size: 18px;
  float: left;
}
#current-Location-Button {
  padding: 2px 18px;
  border-width: 0.5px;
  border-color: rgba(134, 133, 133, 0.89);
  font-size: 18px;
  border-radius: 3px;
  background-color: #efefef;
  float: right;
  color: rgba(46, 45, 45, 0.89);
}
#current-Location-Button:hover {
  border-color: rgba(53, 52, 52, 0.89);
  background-color: #e4e4e4d7;
}

.time {
  font-size: 18px;
  color: rgba(46, 45, 45, 0.89);
  margin: 10px 0 0 0;
  float: right;
}

#weather-description {
  text-transform: capitalize;
}
.active {
  color: #c5d0db;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
.units a {
  text-decoration: none;
}
.units a:hover {
  color: #c5d0db;
  cursor: default;
  text-decoration: none;
}
.col-8 {
  text-align: right;
  padding-right: 5px;
  padding-top: 40px;
}
.col-4 {
  padding-left: 5px;
}
